<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
فیلم بازی
</font>
</h1>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
در ابتدا چون نیاز به توابع کتابخانه‌ی <code>pandas</code> داریم، نیاز است آن را <code>import</code> کنیم.
</font>
</p>

In [1]:
import pandas as pd

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
در کنار این نت‌بوک فایلی به نام <code>dates.csv</code> وجود دارد. آن را به کمک <code>pandas</code> بخوانید.
</font>
</p>

In [210]:
df = pd.read_csv('dates.csv')

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
می‌توانید با استفاده از متد <code>describe</code> خلاصه‌ای از اطلاعات هر ستون را مشاهده کنید.
</font>
</p>

In [211]:
df.describe()

          Unnamed: 0         year
count    5000.000000  5000.000000
mean   222892.446400  1985.259200
std    126952.536025    27.788351
min       108.000000  1911.000000
25%    113078.500000  1966.000000
50%    222977.500000  1996.000000
75%    332407.000000  2008.000000
max    441544.000000  2020.000000

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
می‌توانید به وسیله‌ی متد <code>head</code> چند ردیف اول از داده‌ها را مشاهده کنید.
</font>
</p>

In [212]:
df.head()

   Unnamed: 0                               title  year  country        date
0      324126                Synecdoche, New York  2008      USA  2008-11-21
1       66463  Close Encounters of the Third Kind  1977   Greece  1978-03-10
2       51496                      Brotherly Love  1928  Finland  1929-11-18
3      236362                     My Son, My Son!  1940   Mexico  1940-05-23
4      374347         The North Avenue Irregulars  1979      USA  1979-02-09

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
در <code>pandas</code> وقتی نام ستونی در فایل <code>csv</code> ذکر نشده باشد، آن را به‌صورت <code>Unnamed: i</code> نام‌گذاری می‌کند که <code>i</code> نشان‌دهنده‌ی <code>i</code> ستون بدون نام <code>i</code> اُم است.
<br>
اگر به کمک دستور <code>head</code> بخشی از داده را مشاهده کرده باشید، مشاهده کرده‌اید که یک ستون <code>Unnamed</code> در این مجموعه‌داده وجود دارد.
<br>
به کمک متد <code>drop</code> این ستون را حذف کنید.
<br>
توجه داشته باشید که اگر از ویژگی <code>inplace</code> دستور <code>drop</code> استفاده نکرده باشید، این دستور یک دیتافریم جدید بر می‌گرداند و باید آن را مجدد در متغیر ذخیره کنید. در غیر این‌صورت می‌توانید از <code>inplace=True</code> استفاده کنید.
</font>
</p>

In [213]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
اکنون اگر به نوع (<code>type</code>) ستون‌های دیتافریم نگاهی بی‌اندازید مشاهده می‌کنید که نوع ستون <code>date</code> از نوع کلی <code>object</code> می‌باشد، در حالی‌که می‌دانیم این ستون باید از نوع <code>datatime</code> باشد.
<br>
یکی از قابلیت‌های کتابخانه‌ی <code>pandas</code> تبدیل ستون از نوع رشته با فرمت خاص به نوع <code>datetime</code> می‌باشد. این کار باعث راحت‌تر شدن فیلتر کردن تاریخ و کار با داده‌های از جنس <code>datetime</code> می‌شود.
</font>
</p>

In [214]:
print(df.dtypes)

title      object
year        int64
country    object
date       object
dtype: object

In [215]:
df["formatted_date"]  = pd.to_datetime(df["date"])

print(df.dtypes)

title                     object
year                       int64
country                   object
date                      object
formatted_date    datetime64[ns]
dtype: object

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
اکنون اگر ستون <code>formatted_date</code> را به‌عنوان <code>index</code> برای دیتافریم انتخاب کنید، می‌توانید فیلترهای خیلی ساده‌تری بر روی تاریخ اعمال کنید و به‌راحتی در بازه‌های زمانی، تحلیل خود را انجام دهید.
<br>
می‌توانید این کار را 
با استفاده از متد <code>set_index</code>
(<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html">مطالعه‌ی مستندات</a>) انجام دهید.
</font>
</p>

In [216]:
df.set_index("formatted_date", inplace=True)

In [217]:
df["2015-5":"2015-5"]

C:\Users\Fazel\AppData\Local\Temp\ipykernel_13680\1930636043.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df["2015-5":"2015-5"]

                                     title  year         country        date
formatted_date
2015-05-07                 Les combattants  2014          Greece  2015-05-07
2015-05-07                     Hot Pursuit  2015     Philippines  2015-05-07
2015-05-21                    Tomorrowland  2015          Israel  2015-05-21
2015-05-21                   Kami no tsuki  2014       Hong Kong  2015-05-21
2015-05-21                    Tomorrowland  2015         Ukraine  2015-05-21
2015-05-28          Paul Blart: Mall Cop 2  2015  Czech Republic  2015-05-28
2015-05-15               A Royal Night Out  2015         Ireland  2015-05-15
2015-05-21            She's Funny That Way  2014          Serbia  2015-05-21
2015-05-08                The Little Death  2014              UK  2015-05-08
2015-05-22                    Kamara Kattu  2015           India  2015-05-22
2015-05-22                Na Maloom Afraad  2014              UK  2015-05-22
2015-05-29                     I Love Desi  2015           India  2015-05-29
2015-05-29      What We Did on Our Holiday  2014           Spain  2015-05-29
2015-05-22                       Jamai 420  2015           India  2015-05-22
2015-05-13               Aynehaye rooberoo  2011          France  2015-05-13
2015-05-29                     Wonder Mama  2014           China  2015-05-29
2015-05-22                            1944  2015       Lithuania  2015-05-22
2015-05-29                       10.000 Km  2014          Sweden  2015-05-29
2015-05-22             Unfinished Business  2015          Turkey  2015-05-22

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
یکی دیگر از متدها‌ی <code>pandas</code> که کار را برای پردازش داده‌های رشته‌ای بسیار راحت می‌کند متد <code>str</code> است. با استفاده از این متد می‌توانید فیلترهایی به شکل <code>regex</code> را بر روی داده‌های رشته‌ای اعمال کنید.
<br>
به‌طور مثال می‌خواهیم تمام فیلم‌هایی که نام کشور آن‌ها فاقد فاصله (space) هستند و سال ساخت آن‌ها ماه دسامبر ۲۰۰۵ می‌باشد را فیلتر کنیم: 
</font>
</p>

In [218]:
m_2005 = df["2005-12"]
m_2005[m_2005['country'].str.match(r"\S")]

C:\Users\Fazel\AppData\Local\Temp\ipykernel_13680\3806801264.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  m_2005 = df["2005-12"]

,title,year,country,date
formatted_date,,,,
2005-12-08,Creep,2004,Hong Kong,2005-12-08
2005-12-28,Maxx,2005,Iran,2005-12-28
2005-12-23,"The Chronicles of Narnia: The Lion, the Witch ...",2005,Bulgaria,2005-12-23
2005-12-08,Bulutlari beklerken,2003,Germany,2005-12-08
2005-12-14,King Kong,2005,Georgia,2005-12-14
2005-12-15,King Kong,2005,Kazakhstan,2005-12-15
2005-12-22,Corpse Bride,2005,Portugal,2005-12-22
2005-12-02,Keeping Mum,2005,Ireland,2005-12-02
2005-12-28,Tiempo real,2002,France,2005-12-28
2005-12-22,"The Chronicles of Narnia: The Lion, the Witch ...",2005,Singapore,2005-12-22

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
برای این تمرین شما بایستی پس از حذف ستون <code>Unnamed: i</code> تمامی فیلم‌هایی که در بازه‌ی زمانی <code>2000-11</code> تا <code>2018-11</code> ساخته شده‌اند و اول نام فیلم‌ها با حرف <code>B</code> شروع می‌شود را فیلتر کرده و مقادیر خروجی را با توجه به <code>index</code> و با کمک متد <code>sort_index</code>
(<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_index.html">مطالعه‌ی مستندات</a>)
مرتب کرده و در فایلی به نام <code>sample.csv</code> ذخیره کنید.
</font>
</p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3 color="red">
توجه:
</font>
<font face="vazir" size=3>
نام متغیر نهایی را از <code>filtered_df</code> تغییر ندهید.
</font>
</font>
</p>

In [219]:
df = df.loc['2000-11':'2018-11']
df = df[df.title.str[0] == "B"]
filtered_df = df.sort_index(ascending=True)

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
برای بررسی پاسخ خود می‌توانید از سلول‌های زیر استفاده کنید.
<br>
در سلول نخست، مقادیر ستون‌های اولین ردیف از جدول شما بررسی می‌شود.
<br>
در سلول بعدی <code>index</code> اولین ردیف شما بررسی می‌شود.
<br>
همچنین در سلول آخر، ابعاد (<code>shape</code>) دیتافریم خروجی شما بررسی می‌شود.
</font>
</p>

In [220]:
assert filtered_df.iloc[0].to_dict() == {'title': 'Bless the Child','year': 2000, 'country': 'Iceland', 'date': '2001-01-12'}

In [221]:
assert filtered_df.head(1).index == '2001-01-12'

In [222]:
assert filtered_df.shape == (99, 4)

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
متد <code>to_csv</code> را بدون هیچ پارامتر دیگری به جز نام فایل یعنی <code>sample.csv</code> صدا بزنید و مقادیر پیش‌فرض <code>header</code> و <code>index</code> را تغییر ندهید. یعنی به شکل زیر:
</font>
</p>

In [223]:
filtered_df.to_csv('sample.csv')

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به راهنمایی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [224]:
import zlib
import zipfile

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./'+file_name, file_name, compress_type=compression)

file_names= ["sample.csv", "movies.ipynb"]
compress(file_names)

File Paths:
['sample.csv', 'movies.ipynb']